*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* share style */
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius:5px ;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.section-hesding{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-hesding h2{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-hesding p{
    font-size: 18px;
    margin: 30px;
    line-height: 30px;
    color: #474747;
}
.text-center{
    text-align: center;
}
/* main styles */
header{
    /* background-color:#fff8f3 ; */
    padding-top: 50px;
    background: scroll;
    background:url("../images/developer.png"), url("../images/header_bg.png"),#fff8f3;
    background-position: top left,bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 2px solid royalblue; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size:20px ;
    color: #474747;
    text-decoration: none;
}
#banner .banner-content{
    max-width: 550px;
}
#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content h2{
    font-size:45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #474747;
    line-height: 30px;margin-bottom: 30px;
}
.banner .banner-img img{
    max-width: 585px;
    vertical-align: middle;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto  ;
    text-align: center;
    background-color: #fff8f3;
    padding: 131px 157px;
}
#about .about-container .about-info{
    display: flex;
    justify-content:space-between ;
}
.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #474747;
    /* gap: 50px; */
}
.about-info .info-card h4{
    font-size: 20px;
}
 #about ,
 #skills ,
 #resume{
    padding-top: 130px;
}
#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
#skills .skills-container .skills-box{
    display: flex;
    gap: 24px;
}
.skills-box .skills-card{
    max-width: 267px;
    padding: 30px;
    /* border: 1px solid gold; */
    box-shadow: 0 6px 50px 0 #00000638;
}
.skills-card img{
    max-width: 44px;
    margin-bottom: 30px;    
}
.skills-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skills-card p{
    font-size: 16px;
    line-height: 28px;
    color: #474747;
}
#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0; 
    display: flex;    
    gap: 24px;
}
.resume-container hr{
    margin: 30px 0;
}
.resume-container .education-title{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title{
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.resume-card .card-info{
    font-size: 20px;
    color: #474747;
    margin-bottom: 20px;
    font-weight: 600;
}
.resume-card .card-text{
    font-size: 16px;
    color: #474747;
    line-height: 28px;
}
footer{
    margin-top: 113px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 117px;
}
.footer-container .social{
    max-width: 562px;
}
.footer-container .social p{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}
.footer-container h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}
.footer-container .icons a{
    margin-right: 24px;
}
.footer-container .from input[type="text"],.footer-container .from input[type="email"],
.footer-container .from textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border-bottom: 5px;
    border: none;
    color: #757575;
}